* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    background-color: rgb(255, 255, 255);
    height: 100vh;
}

#loggedInMessage {
    margin-bottom: 3rem;
    font-size: 2rem;
}

#loggedInEmail {
    color: #0065f3;
}

.registerLink {
    margin-top: 2rem;
    font-size: 1.3rem;
}

.form-title {
    color: #0065f3;
}

.form h1 {
    font-size: 3rem;
}

.form-container {
    height: 100vh;
    /* padding: 1px; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.form {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.19);
    width: 30%;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #333;
}

.form--input {
    max-width: 100%;
    min-width: 50%;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 15px;
}

.payment--info {
    margin-bottom: 20px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 15px;
}

.payment--info:hover {
    outline: none;
    border-color: #ff9832;
}

.payment--info:focus {
    outline: none;
    border-color: #ff9832;
    box-shadow: 0px 0px 4px 4px rgba(255,152,50,0.4);
}

.payment--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.payment-label-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#cvvLabel {
    margin-left: 1rem;
}

#expireLabel {
    margin-right: 8rem;
}

#cvv {
    width: 20%;
    margin-right: 5rem;
}
#expire-month {
    width: 20%;
    margin-left: 10rem;
    /* border-radius: 5px 0px 0px 5px; */
    /* border-right: 0.5px solid #aaa; */
}
#expire-year {
    width: 20%;
    margin-left: 0rem;
    /* border-radius: 0px 5px 5px 0px; */
    /* border-left: 0.5px solid #aaa; */
}

.form--input:hover {
    outline: none;
    border-color: #ff9832;
}

.form--input:focus {
    outline: none;
    border-color: #ff9832;
    box-shadow: 0px 0px 4px 4px rgba(255,152,50,0.4);
}

.form--submit {
    width: 100%;
    padding: 0.8em;
    font-size: 1.8rem;
    border-radius: 5px;
    color: white;
    background-color: #0065f3;
    border: none;   
    cursor: pointer; 
}
.form--submit:hover {
    background-color: rgb(0, 90, 255);
}

.form--submit:active {
    background-color: rgb(200, 100, 0)
}

.form--marketing {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.form--marketing > input {
    margin-right: 10px;
}
.form--label{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    align-self: flex-start;
    color: #0065f3;
}

.loggedBtn {
  transition: all 0.5s ease 0s;
  background-color: #0065f3;
  padding: 0.8rem;
  border-radius: 0.5rem;
  text-decoration: none;
  margin-right: 3rem;
  font-size: 2rem;
  color: #ddd;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2)
}

p {
    font-size: 1.3rem;
    margin: 0.5rem 0 1.5rem 0;
}

#paymentOptions {
    width: 50%;
    margin-bottom: 3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#paymentOptions:hover {
    outline: none;
    border-color: #ff9832;
}

#paymentOptions:focus {
    outline: none;
    border-color: #ff9832;
    box-shadow: 0px 0px 4px 4px rgba(255,152,50,0.4);   
}

.form--type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#payment-type {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 1.5rem;
}

#payment-type > select {
    /* margin-top: 1rem; */
    width: 100%;
}

